@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(8, 28, 41), rgb(12, 32, 45), rgb(16, 36, 49), rgb(20, 40, 53), rgb(24, 44, 57));
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: 15px;
    font-size: 3em;
    font-family: "Bebas Neue", sans-serif;    
    font-weight: bolder;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    margin-top: 40px;
}

header > nav > ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header > nav > ul > li > a {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

header > nav > ul > li > a:hover {
    border-bottom: 2px solid #0aa7ed;
}

main {
    display: flex;
    max-width: 80%;
    margin: auto;
    height: 100vh;
    align-items: center;
}

main > section > h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 40px;
}

main > section > h4 {
    font-family: "Staatliches", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #0aa7ed;
}

main > section {
    margin-top: 26px;
    margin-bottom: 130px;
    max-width: 500px;
}

main > section > p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: justify;
    font-family: "Farro", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 25px;
}

main > section > a#hireMe {
    display: block;
    width: 120px;
    text-decoration: none;
    align-self: center;
    color: white;
    background-color: #0aa7ed;
    padding: 10px;
    border-radius: 8px;
    font-size: 1em;
    font-family: "Farro", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: transform 0.3s ease;
}

main > section > a#hireMe:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

main > section > a > img {
    margin-top: 100px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

main > section > a#myGitHub > img {
    border: 2px solid #0aa7ed;
    border-radius: 20px;
}

main > section > a#myInstagram > img {
    border: 2px solid #0aa7ed;
    border-radius: 20px;
}

main > section > a#myChannel > img {
    border: 2px solid #0aa7ed;
    border-radius: 10px;
    height: 34px;
}

main > section > a > img:hover {
    transform: scale(1.1, 1.1);
}

main > section > img#myProfileImage {
    width: 100%;
    margin-left: 100px;
    margin-bottom: 100px;
}

footer {
    background-color: rgb(2, 14, 22);
    width: 100%;
    text-align: center;
    padding: 10px;
}

footer > p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 750px) {

    header {
        flex-direction: column;
        width: 100%;
    }

    header > nav > ul {
        margin-top: 20px;
        gap: 12px;
    }

    header > nav > ul > li > a {
        font-size: 13px;
    }

    main {
        flex-direction: column;
    }

    main > section > h3 {
        font-size: 25px;
    }

    main > section > h4 {
        font-size: 20px;
    }

    main > section {
        margin-top: 50px;
        text-align: left;
    }

    main > section > p {
        font-size: 14px;
    }

    main > section > a > img {
        margin-top: 30px;
        text-align: center;
    }

    main > section > img#myProfileImage {
        width: 80%;
        margin-bottom: 0px;
        margin-left: 25px;
        margin-top: -125px;
    }

}